*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
     min-height: 600px;
     background-color: #212121;    
}

.container{
    position: relative;
}

.clock{
    width: 300px;
    height: 300px;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;  
    /* agar inset nhi denge toh ye rotate nhi karega aur vo saare numbers centre pe aa jayenge kyuki humne clock main display kflex diya hain */
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    /* ab yahan display inline-block na kare toh upaar likha transform propetry nhi lage kyuki unka by default display block hain isliye */
    display: inline-block; 
    font-size: 20px;
} 
.clock::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:#ffffff;
    z-index: 2;
}
.hand{
    display: flex;
    justify-content:center ;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    width: 4px;
    height: var(--h);
    background-color: var(--clr);
   border-radius: 8px;
 
}