*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar{
    background-color: rgba(19, 18, 18, 0.902);
    height: 200px;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 99;
    box-shadow: 0px 0px 5px  rgba(19, 18, 18, 0.902) ;
    overflow: hidden;
}
.nav-1{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.nav1-a{
 margin-left: 6rem;
 font-size: 1rem;
 margin-top: 1rem;
 color: blanchedalmond;
}
.nav1-b{
    margin-right: 6rem;
    margin-top: 1.2rem;
    font-size: 1.2rem;
}
.nav1-b_list, .nav2_list{
    display: flex;
    list-style: none;
}
.link_list{
    padding-left: 0.8rem;
    /* border-left: 1px solid bisque; */
}
.link_list i{
    transition: color 0.6s;
}
.link_list i:hover{
    color: rgb(140, 151, 222);
}
.nav-1 a{
    text-decoration: none;
    color: bisque;
    padding-right: 20px;
}
.nav-2{
border: 2px solid white;
border-radius: 2px;
background-color: white;
padding: 2rem 2rem 2rem 2rem;
margin: 2rem 2rem 2rem 4rem;
display: flex;
justify-content: space-evenly;
align-self: center;
height: 120px;
width: 90%;
}


.main-logo{
    background-image: url("radhe1.png");
    background-size: cover;
    height: 110px;
    width: 130px;
    margin-left: 9px;
    margin-bottom: 0.7rem;
    margin-right: 30px;
    margin-top: 0.01rem;
   
}
.nav-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
.nav-2_list{
    display:inline-flex;
}
.nav2_list{
    /* padding-left: 0.5rem; */
    text-decoration: none;
    text-transform: uppercase;
    width: 120px;
    border: none;
}
.nav2-links ul li a{
    padding: 8px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.994);
    font-size: 1.2rem;
    font-weight:lighter;
    transition: background-color 0.2s;
    border-left: 1px solid  rgba(35, 36, 37, 0.894);
}
.nav2-links ul li a:hover{
    background-color: chocolate;
    /* padding: 0.2rem; */
    border-radius: 20px;
    color:rgba(19, 18, 18, 0.902);
}
.but{
    border:none;
    border-radius: 25px;
     padding: 10px 35px;
     margin: 4px 2px;
     font-size: 1.5rem;
     background-color: rgb(227, 171, 29) ;
     cursor: pointer;
     transition:background-color 0.6s;
}
.but a{
    color: aliceblue;
    font-size: 1.1rem;
    position: relative;
    bottom: 3px;
   text-decoration: none;
}
.but:hover{
    background-color: black;
}
.volunteer{
    margin-top:15rem ;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.volImage{
    background-image: url("vol.jpg");
    height: 740px;
    width: 80%;
    margin: 7rem;
    background-size: cover;
    margin-top: 14rem;
    position: relative;
    left: 2rem;
}
.volForm{
    margin: 5rem;
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    bottom: 9rem;
}
.personalInfo input, .personalInfo select, .contactInfo input, .education input, .workExp input, .volPre select{
    margin: 0.7rem;
    font-size: 1rem;
    border:1px solid black;
    border-radius: 4px;
    padding: 4px;
    font-family: 'Signika Negative', Courier, monospace;
}
.personalInfo h2{
    /* position: relative;
    left: 5rem;
    bottom: 1rem; */
    background-color:burlywood;
    padding-left: 8rem;
   padding-bottom: 0.85rem;
    font-size: 1.8rem;
    font-family: 'Arvo', Courier, monospace;

}
.contactInfo h2, .workExp h2, .volPre h2{
    /* position: relative;
    left: 5rem;
    top: 0.1rem; */
    background-color:burlywood;
    padding-left: 8rem;
   padding-bottom: 0.85rem;
    font-size: 1.8rem;
    font-family: 'Arvo', Courier, monospace;
}
.education h2{
    /* position: relative;
    left: 9rem;
    top: 0.1rem; */
    font-size: 1.8rem;
    background-color:burlywood;
    padding-left: 11rem;
   padding-bottom: 0.85rem;
   font-family: 'Arvo', Courier, monospace;
}
.submit{
    font-size: 1.2rem;
    padding: 0.3rem;
    border: 1.5px solid black;
    background-color: limegreen;
    color:  black;
    border-radius: 6px;
    position: relative;
    left: 1rem;
    transition: background-color 1.2s, color 1.2s;
}
.submit:hover{
    background-color: darkgreen;
    cursor: pointer;
    color: white;
}
.volMsg{
    margin: 2.8rem;
    position: relative;
    bottom:  7.4rem;
}
.volMsg h4{
    font-size: 1.7rem;
    font-weight: 800;
    padding-bottom: 2rem;
    background-color: darkkhaki;
    position: relative;
    top: 7rem;
    padding-left: 10px;
    margin-left: 3rem;
    padding-top: 1rem;
    color:rgb(4, 4, 35);
}
.volMsg-1,.volMsg-2, .volMsg-3{
    margin-bottom: 1.4rem;
    font-size: 1.1rem;
    font-family: 'Signika Negative', Courier, monospace;
}
.volMsg-1 h5, .volMsg-2 h5, .volMsg-3 h5{
font-size: 1.5rem;
margin-bottom: 0.75rem;
}
.footer{
    background-color: rgb(37, 27, 27);
    height: 520px;
}
.footer1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerlogoRk{
    background-image: url("logo3-removebg-preview.png");
    height: 200px;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 50px;
    margin-top: 1.8rem;
    position: relative;
    left: 0.85rem;
}
.footerSoci{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-left: 1rem;
    position: relative;
    top: 1rem;
    font-size:2rem;
    left: 2rem;
    width: 50%;
    background-color: #1d1c1c;
    opacity: 1.3;
}
.footersoci1{
    opacity: 1.2;
    transition: color 0.7s;
}
.footersoci1:hover{
   color: blueviolet;
   cursor: pointer;
}
.footerMsg{
    position: relative;
   bottom: 1rem;
    font-size: 1.5rem;
    color: white;
    left: 5rem;
    width: 50%;
    opacity: 0.9;
}
.quickLinks{
    color: white;
    width: 50%;
    position: relative;
    right: 1.3rem;
    top: 1.7rem;
    cursor: pointer;

}
.quickLinks li{
    opacity: 0.9 ;
    transition:opacity 0.5s,text-decoration 0.6s ;
}
.quickLinks li:hover{
    text-decoration: underline;
    opacity: 1.2;
}
.quickLinks h3{
    padding-top: 1rem;
    position: relative;
    bottom: 1.3rem;
    font-size: 1.6rem;
}
.quickLinks ul li{
    padding-bottom: 0.65rem;
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts{
width: 50%;
color: white;
position: relative;
right: 4rem;
top: 1.2rem;
}
.contacts h3{
    padding-bottom: 2rem;
    font-size: 1.6rem;
}
.address i{
   padding-right: 1rem;
   font-size: 1.6rem;
   position: relative;
   bottom: 1.5rem;
}
.address{
    font-size: 1.2rem;
    width: 60%;
    margin-bottom: 1rem;
    opacity: 0.9;
}
.call{
    font-size: 1.2rem;
    width: 70%;
    position: relative;
    right: 1rem;
    opacity: 0.9;
}
.call i, .email i{
    padding-right:0.6rem ;
}
.email{
    width: 70%;
    font-size: 1.2rem;
    margin-top: 1rem;
    position: relative;
    right: 1.5rem;
    opacity: 0.9;
}
.footer2{
    background-color:rgb(37, 27, 27) ;
    border-top: rgba(190, 170, 170, 0.847) 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    /* height: 20px; */
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
}
.copyright, .terms{
    color: white;
    opacity: 0.9;
    font-size: 1.1rem;
}
.copyright a{
    color:darkgoldenrod;
    text-decoration: none;
}