*{
    margin: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0%;
}
body{
    background-color: rgba(232, 238, 238);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-container{
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}
.input-container input{
    border: none;
    outline: none;
    margin-block: 16px;
    padding: 12px;
    font-size: 1.2rem;
    border-radius: 4px;
}
.input-container input[type="text"]{
    width: 70%;
}
.input-container input[type="button"]{
    background-color: #3da33d;
    margin-left: 8px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    padding: 12px 24px;
}
.input-container input[type="button"]:hover{
    background-color: #60b160;
}
ul{
    width: 100%;
    max-width: 400px;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}
ul li{
    list-style-type: none;
    cursor: pointer;
    border: 0.125px solid #a19f9f;
    border-radius: 8px;
    padding: 6px 12px;
    margin-block-end: 12px;
    background-color: #ffffff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s;
} 
ul li:hover{
    background-color: #cbcaca;
}
ul li p{
    flex-grow: 2;
    padding: 2px;
    cursor: pointer;
}
.btn{
    border: none;
    outline: none;
    padding: 3px;
    background: none;

}
.editbtn{
   color: #e25720;
   font-weight: 600;
   cursor: pointer;
}
.deletebtn{
    color: #e85404;
    font-weight: 600;
    cursor: pointer;
}